.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #080710;
}

.background {
  width: 40%;
  height: 75%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 40%;
  width: 40%;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -30px;
  bottom: -80px;
}

form {
  height: 80%;
  width: 30%;
  min-width:230px;
  background-color: rgba(255, 255, 255, 0.20);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(79, 64, 64, 0.793);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #DDDDDD;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up {
  margin-top: 30px;
  display: flex;
}

.sign-up div {
  width: 100%;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.sign-up div:hover {
  background-color: rgba(255, 255, 255, 0.415);
}
.navbar {
  overflow: hidden;
  display: flex;
  background-color: #3c3c3c;
  justify-content: space-between;
  align-items: center;
}
.searchDiv{
  margin: 5% 10% 5%;
}
.searchDiv ::placeholder {
  text-align: center;
}
.searchDiv input {
  color:#DDDDDD;
  border: 2px solid #0acfa9;
  font-size: 20px
}
.searchDiv button{
  width:25%;
}
.navheader{
  display: flex;
  cursor: pointer;
  margin-left: 1% !important;
  justify-content: flex-start;
}
.navbutton{
  margin-right: 2%;
  font-size: 16px;
  cursor: pointer;
  color:#F05454
}
.movieContainer {
  /* Add shadows to create the "movi.movieContainer" effect */
  
}
.centerMovies
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.movieContainer:hover {
  box-shadow: 0 25px 40px 0 rgba(133, 133, 133, 0.566);
}

/* Add some padding inside the movi.movieContainer container */
.container {
  padding: 2px 16px;
}
.movieContainer
{
  display: flex;
  justify-content: space-between;
  width:80%;
  margin:3.5%;
  background-color: #303841;
  box-shadow: 0 15px 20px 0 rgba(153, 153, 153, 0.537);
  border-radius: 25px;
  padding: 20px;
  transition: 0.3s;
}
.moviePosterContainer
{
  height: 20%;
  width: 20%;
  padding:7px
}
.movieDetailsContainer{
  margin:0%;
  width:70%;
  margin-left: 5%;
  margin-top:5px;
  margin-right: 5%;
}
.movieDetailsContainer button{
  background-color: #f09819;
}
.watclistButtons{
  display: flex;
  justify-content: flex-end;
}
.watclistButtons button {
  width:10%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.movieDescWatchlist
{
  display: flex;
  justify-content: space-evenly;
}
.detailsContainer
{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.lds-roller {
  display: inline-flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#containerLoader {
  margin: auto;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  animation-name: global;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

::-webkit-scrollbar-thumb {
  background: rgb(179, 166, 166);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: rgb(180, 179, 179);
  max-height: 5px;
  max-width: 2x;
  border-radius: 2px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(207, 206, 206);
  border-radius: 5px;
}